<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="logisubject">
        <div class="signins">
            <!--左侧背景部分开始-->
             <div class="Left_bg">
                 <img src="images/login01.png" />
             </div>
            <!--左侧背景部分结束-->
            <!--右侧背景部分开始-->
            <div class="Right_bg">
                <img src="images/login02.png" />
            </div>
            <!--右侧背景部分结束-->
            <!--登录框开始-->
            <div class="Login_box">
                <!--标题开始-->
                <div class="Login_tits">
                    内部管理系统
                </div>
                <!--标题结束-->
                <!--账号开始-->
                <form action="/test/login.html" method="post">
                <div class="Account_number">
                    <img src="images/login04.png" /> <input type="text" class="Input_box" placeholder="账请输入号" name="username">
                </div>
                <!--账号结束-->
                <!--密码开始-->
                <div class="Account_number">
                    <img src="images/login05.png" /> <input type="password" class="Input_box" placeholder="请输入密码" name="password">
                </div>
                <!--密码结束-->
                <!--按钮开始-->
                <div class="Login_button">
                    <input class="Inside_login_bon" type="submit" value="登录"></input>
                </div>
                </form>
                <!--按钮结束-->
            </div>
            <!--登录框结束-->
        </div>
    </div>
</body>
</html>